.gallery-container {
  background-color: var(--tan);
  flex-direction: column;
  display: flex;
  align-items: center;
  flex: 1;
  margin-top: 64px; /* space for navbar*/
}

.gallery-header {
  color: var(--light-orange);
  font-family: 'Curvilingus';
  font-size: 100px;
  margin-top: 80px;
  margin-bottom: 50px;
  text-align: center;
}