.container {
  /* height: 100%;
  width: 100%; */
}

.home-container {
  background-color: var(--dark-orange);
  height: 100%;
  width: 100%;
  flex-direction: column;
  display: flex;
  align-items: center;
}

.when-text-container {
  margin-left: 80px;
}

.when-text {
  font-family: "Curvilingus";
  font-size: 80px;
  text-align: left;
  /* letter-spacing: 2px;
  font-weight: 400; */
  color: var(--dark-orange);
}

.date-text {
  font-family: "RocGrotesk";
  color: var(--dark-orange);
  font-size: 40px;
  text-align: left;
}

.where-text-container {
  margin-right: 80px;
  width: 100%;
}

.where-text {
  font-family: "Curvilingus";
  font-size: 80px;
  text-align: right;
  color: var(--dark-orange);
}

.where-place-container {
  /* width: 100%; */
}

.brickyard-text {
  text-align: right;
  font-family: "RocGrotesk";
  color: var(--dark-orange);
  font-size: 40px;
}

.marietta-text {
  text-align: right;
  font-family: "RocGrotesk";
  color: var(--dark-orange);
  font-size: 40px;
}

.lets-party-button {
  background-color: var(--pink);
}