.card-container {
  background-color: var(--tan);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: calc(100% - 200px);
  border-radius: 15px;
}

.inner-container {
  margin: 50px;
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.left-container {
  flex: 1;
  display: flex;
}

.right-container {
  flex: 1;
  display: flex;
}