

.wedding-container {
  background-color: var(--dark-orange);
  flex-direction: column;
  display: flex;
  align-items: center;
  flex: 1;
  margin-top: 64px; /* space for navbar*/
}

.wedding-header { 
  color: var(--tan);
  font-family: 'Curvilingus';
  font-size: 100px;
  margin-top: 80px;
  text-align: center;
}

.wedding-card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 20px;
}

.wedding-date-primary {
  color: var(--dark-orange);
  font-family: 'Curvilingus';
  font-size: 60px;
  text-align: center;
}

.wedding-date-secondary {
  color: var(--dark-orange);
  font-family: 'Avenir';
  font-size: 40px;
  text-align: center;
}

.timeline-img {
  height: auto;
}

.wedding-location-text {
  color: var(--dark-orange);
  font-family: 'Avenir';
  font-size: 40px;
  text-align: center;
  margin: 25px;
}

@media all and (max-width: 768px) {
  .wedding-date-primary {
    font-size: 40px;
  }
  .wedding-date-secondary {
    font-size: 30px;
  }
  .wedding-location-text {
    font-size: 20px;
  }
}

