.header {
  top: 0;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  height: 64px;
  background-color: var(--light-orange);
  position: fixed;
}

.navLinks {
  right: 10px;
  width: 50%;
  min-width: 30%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.navLinks a {
  text-decoration: none;
  display: block;
  padding: 8px 0;
  letter-spacing: 2px;
  font-weight: 400;
  font-size: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Avenir";
}

.selected {
  color: var(--pink);
}

.not-selected {
  color: white;
}