

.rsvp-dietary-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.rsvp-dietary-header {
  color: var(--light-orange);
  font-family: 'Curvilingus';
  font-size: 50px;
  text-align: center;
}

.rsvp-dietary-names-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin-bottom: 30px;
}

.rsvp-dietary-name-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
}

.rsvp-dietary-name {
  font-family: "Avenir";
  font-size: 40px;
  color: var(--dark-orange);
  text-align: center;
  width: 100%;
}

.rsvp-dietary-input {
  outline: none;
  width: 100%;
  height: 50px;
  font-family: "Avenir";
  font-size: 20px;
  color: var(--dark-orange);
}