/* body {
  margin: 0;
  padding: 0;
} */

:root {
  --dark-orange: #AE4A25;
  --light-orange: #CB683F;
  --tan: #E6C2A9;
  --pink: #E4B2BC;
}

/************* COLORS *************/

/* 
Dark Orange: af4b26
Light Orange: cb683f
Tan: e6c2a9
Pink: e4b2bc 
*/

.light-text {
  color: var(--tan);
}

.dark-text {
  color: var(--dark-orange);
}

.light-background {
  background-color: var(--tan);
}

.dark-background {
  background-color: var(--dark-orange);
}

.main-container {
  width: 100vw;
  height: 100vh;
}
