/* body {
  margin: 0;
  padding: 0;
} */

.main-container {
  width: 100vw;
  height: 100vh;
}

.comingsoon-text {
  font-family: "RocGrotesk";
  font-size: 30px;
  text-align: center;
}

.light-text {
  color: #E6C2A9;
}

.dark-text {
  color: #AE4A25;
}

.comingsoon-header {
  background-color: #AE4A25;
  height: 75%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.comingsoon-footer {
  background-color: #E6C2A9;
  height: 25%;  
  display: flex; 
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.comingsoon-date {
  font-family: "Curvilingus";
  font-size: 100px;
}

img {
  max-width: 100%;
  height: auto;
}
