
.comingsoon-text {
  font-family: "RocGrotesk";
  font-size: 30px;
}

.light-text {
  color: #E6C2A9;
}

.dark-text {
  color: #AE4A25;
}

.comingsoon-date {
  font-family: "Curvilingus";
  font-size: 100px;
}

img {
  max-width: 100%;
  height: auto;
}