body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: "RocGrotesk";
  src: local("RocGrotesk"),
    url("./fonts/RocGrotesk.otf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "Curvilingus";
  src: local("Curvilingus"),
    url("./fonts/Curvilingus.otf") format("truetype");
  font-weight: bold;
}